@model   RenterViewModel
@inject IUtility _Utility

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title text-center">Create Vehicle Renter</h5>

                    <form asp-action="CreateVehicleRenter">
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="RenterRoleId" type="hidden" />

                        <div class="row">
                            <!-- Name Field -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label font-weight-bold"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Enter Name" required />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Gender </label>
                                    <select asp-for="GenderId" asp-items=" await _Utility.GetGender()" class="form-control">
                                        <option>-Gender-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label font-weight-bold"></label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" required />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>    
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label font-weight-bold"></label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email" required />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>   
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label font-weight-bold"></label>
                                    <input asp-for="Address" class="form-control" placeholder="Enter Address" required />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div> 
                                <div class="form-group">
                                    <label asp-for="CitizenshipNumber" class="control-label font-weight-bold"></label>
                                    <input asp-for="CitizenshipNumber" class="form-control" placeholder="Enter CitizenshipNumber" required />
                                    <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
                                </div>
                           
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="control-label font-weight-bold"></label>
                                    <input asp-for="DateOfBirth" type="date" class="form-control" id="datepicker"
                                           placeholder="Enter Date Of Birth"
                                           min="1920-01-01" max="2024-12-31" required />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LicenseNumber" class="control-label font-weight-bold"></label>
                                    <input asp-for="LicenseNumber" class="form-control" placeholder="Enter LicenseNumber" required />
                                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LicensePhotoPath">Upload Licence</label>
                                    <input type="file" asp-for="LicensePhotoPath" accept="image/png, image/gif, image/jpeg, application/pdf" />
                                    <img src="@Model.LicensePhotoPath" alt="License Image" class="img-fluid" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProfilePicture">Upload Licence</label>
                                    <input type="file" asp-for="ProfilePicture" accept="image/png, image/gif, image/jpeg, application/pdf" />
                                    <img src="@Model.ProfilePicture" alt="License Image" class="img-fluid" />
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input asp-for="Password" type="password" placeholder="Enter Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                               
                            </div>
                        </div>

                        <!-- Form Buttons -->
                        <div class="d-flex justify-content-between mt-3">
                            <a asp-action="CategoryIndex" class="btn btn-warning">
                                <i class="fa fa-angle-left"></i> Back
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}