@model VehicleViewModel
@inject IUtility _Utility

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title text-center">Create Owner</h5>

                    <form asp-action="CreateOwner">
                        <input asp-for="Id" type="hidden" />

                        <div class="row">
                            <!-- Name Field -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label font-weight-bold"> Vehicle Name </label>
                                    <input asp-for="Title" class="form-control" placeholder="Enter Vehicle Name" required />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Vehicle Category </label>
                                    <select asp-for="CategoryId" asp-items=" await _Utility.GetVehicleCategory()" class="form-control">
                                        <option>-Vehicle Category-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Vehicle Owner </label>
                                    <select asp-for="VehicleOwnerId" asp-items=" await _Utility.GetVehicleOwner()" class="form-control">
                                        <option>-Vehicle Owner-</option>
                                    </select>
                                </div> 
                              

                                <div class="form-group">
                                    <label asp-for="Description" class="control-label font-weight-bold"></label>
                                    <input asp-for="Description" class="form-control" placeholder="Enter Description" required />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>    
                                <div class="form-group">
                                    <label asp-for="RentalPrice" class="control-label font-weight-bold"></label>
                                    <input asp-for="RentalPrice" class="form-control" placeholder="Enter Rental Price" required />
                                    <span asp-validation-for="RentalPrice" class="text-danger"></span>
                                </div>   
                                <div class="form-group">
                                    <label asp-for="Availability" class="control-label font-weight-bold"></label>
                                    <input asp-for="Availability" class="form-control" placeholder="Enter Email" required />
                                    <span asp-validation-for="Availability" class="text-danger"></span>
                                </div>   
                                <div class="form-group">
                                    <label asp-for="Terms" class="control-label font-weight-bold"> Terms And Conditions </label>
                                    <input asp-for="Terms" class="form-control" placeholder="Enter Terms And Conditions" required />
                                    <span asp-validation-for="Terms" class="text-danger"></span>
                                </div>

                               
                            </div>
                        </div>

                        <!-- Form Buttons -->
                        <div class="d-flex justify-content-between mt-3">
                            <a asp-action="CategoryIndex" class="btn btn-warning">
                                <i class="fa fa-angle-left"></i> Back
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
