<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/account/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/account/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/account/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/account/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
 
</head>
<body>

    <div>
        @RenderBody()
    </div>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/account/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
